/* Estilo geral da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Menu */
nav {
    background-color: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

nav a:hover {
    color: yellow;
}

/* Conteúdo */
main {
    padding: 20px;
}

.container-caixas {
    display: flex;
    border: solid;
}

.caixa {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
}

.caixa:first-child {
    border-right: solid;    
}

/* Rodapé */
footer {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 10px;
}