:root {
    --background-color-nav: #000080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: rgb(6, 12, 99);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    /* abreviação para branco */
}

h1 {
    color: var(--background-color-nav);
    text-align: center;
    margin: 20px;
    border-bottom: 1px solid var(--background-color-nav);
}

.grid {
    display: grid;
    text-align: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 20px;
    margin-bottom: 40px;
}

p {
    padding: 20px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: gainsboro;
    color: #052e2e;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 16px;
    left: 110px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

.caixa {
    margin: 0 auto;
    border: 1px solid #030000;
    padding: 10px;
    background-color: #ffffff;
    color: #000;
}

