:root {
    --background-color-nav: #000080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color-nav);
    /* Azul escuro igual da sua imagem */
    padding: 10px 0;
}

/* Cada link/bloco do menu */
nav a {
    display: block;
    
    /* Faz todos os blocos terem exatamento o mesmo tamanho */
    text-align: center;
    /* Centraliza o texto dentro do seu próprio bloco */
    color: white;
    /* Cor do texto */
    text-decoration: none;
    /* Remove o sublinhado */
    padding: 12px 0;
    /* Espaçamento interno vertical */
    font-family: sans-serif;
    /* Opcional: fonte limpa */
}

main {
    max-width: 840px;
}

h1 {
    color: var(--background-color-nav);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-left: 20px;
    margin-bottom: 40px;
}

p {
    padding: 20px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #a7e9ee;
    color: #020d0e;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 16px;
    left: 110px;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* seletores de classe */

.caixa {
    margin: 10px;
    border: 1px solid #030000;
    padding: 10px;
    background-color: #45c0e6;
    color: #000;
}

