table {
    border-collapse: collapse;
    letter-spacing: 1px;
    border: 2px solid rgb(145, 142, 142);
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

thead, tfoot {
    background-color: #000000;
    color: #ffffff;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(145, 142, 142);
}

